


<div class="container">
  <h1>Newest Fighters</h1>
  <div class="row-fluid">

    <ul class="thumbnails">

      <% @fighters.order(id: :desc).limit(8).each do |f| %>
        <li class="span4" style="float:left;">
          <div class="thumbnail" style="width:130px; text-align:center;">
            <%= image_tag f.profile_pic.url(:thumb), class: "thumbnail" %>
            <div class="caption">
              <h3><%= link_to(f.name, fighter_path(f)) %>
            </div>
          </div>
        </li>
      <% end %>

    </ul>
  </div>
</div>

<div class="container">
  <h1>Sort fighters by location</h1>

  <%= form_tag '/fighters', method: "get" do %>
    <%= select_tag(:location, '<option value=""></option><option value="Hollywood">Hollywood</option><option value="Beverly Hills">Beverly Hills</option>'.html_safe) %>
    <%= submit_tag "search" %>
  <% end %>

  <div class="row-fluid">
    <ul class="thumbnails">
      <% @fighters_sorted.limit(8).each do |f| %>
        <li class="span4" style="float:left;">
          <div class="thumbnail" style="width:130px; text-align:center;">
            <img data-src=<%= image_tag f.profile_pic.url(:thumb), class: "thumbnail" %>
            <div class="caption">
              <h3><%= link_to(f.name, fighter_path(f)) %>
            </div>
          </div>
        </li>
      <% end %>

    </ul>
  </div>
</div>
