
<div class="container">
  <legend> New Fighter</legend>

  <%= form_for @fighter do |f| %>
   name <%= f.text_field :name %>
   email <%= f.text_field :email %>
   password <%= f.text_field :password %>
   confirm password <%= f.text_field :password_confirmation %>
   <%= f.submit "Save Fighter" %>
   <% end %>
</div>
