
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag @fighter.profile_pic.url(:medium), class: "thumbnail" %>
    </div>
    <div class="col-md-6">
      <h1><%= @fighter.name.upcase %></h1>
      <h3>Age: <%=@fighter.age%></h3>
      <h3>Weight: <%= @fighter.weight%></h3>
      <h3>Location: <%= @fighter.location %> </h3>
      <h3>Member Since: </h3> <h4><%= @date.to_s[0..10] %></h4>
      <h3>Style: <%= @fighter.style %></h3>
      <!-- <h3>Record:  <%=@fighter.wins%> / <%=@fighter.losses%> -->
      <button id="challengeButton" type="button" class="btn btn-secondary btn-lg"><%= link_to "Challenge Fighter",  new_challenge_path %></button>
    </div>
  </div>
</div>

<div class="container">
<ul>
  <% Challenge.where(challengee_id: @fighter.id).each do |c| %>

  <li> <%= link_to c.fighter.name, fighter_path(c.fighter) %></li>
  <% end %>

</ul>
</div>

<div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>I Am:</th>
          <th>I Hate:</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%=@fighter.likes1%></br><%= @fighter.likes2%></br><%= @fighter.likes3%></br><%= @fighter.likes5%></br><%= @fighter.likes6%></br><%= @fighter.likes7%></br><%= @fighter.likes8%><br><%= @fighter.likes9%><br><%= @fighter.likes10%></td>
          <td><%= @fighter.hates1 %></br><%= @fighter.hates2%></br><%= @fighter.hates3%></br><%= @fighter.hates5%></br><%= @fighter.hates6%></br><%= @fighter.hates7%></br><%= @fighter.hates8%></br><%= @fighter.hates9%></br><%= @fighter.hates10%></td>
        </tr>
      </tbody>
    </table>

</div>

<div class="container">
<%= link_to "Edit Fighter Info", edit_fighter_path %>
</div>
