<h1>Challenges#new</h1>
<p>Find me in app/views/challenges/new.html.erb</p>

<%= form_for @challenge do |c| %>
<h2>From: <%= current_fighter.name %></h2>
 message: <%= c.text_area :body %>
 date: <%= c.text_field :fight_date %>
 location: <%= c.text_field :location %>
 <%= c.submit "Send Challenge" %>
 <% end %>
