<!DOCTYPE html>
<html>
<head>
  <title>Fightclub</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li style="font-family:helvetica; font-weight:bold; display:inline; float:left; font-size: 28px;"><%= link_to "fightclub", fighters_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">

        <% if logged_in? %>
        <li style="display:inline; float:right;"><%= link_to "My Profile", fighter_path(current_fighter.id)%></li>
        <li style="display:inline; float:left;">
        <%= link_to "Logout", logout_path, {method: "DELETE"} %></li>
        <% else %>
        <li style="display:inline; float:right;"><%= link_to "Sign Up", new_fighter_path %></li>
        <li style="display:inline; float:left;">
        <%= link_to "Login", new_session_path %></li>
        <% end %>
    </ul>
  </div>
</nav>
      <%= yield %>



</body>
</html>
